@page "/viewsource"
@using System.Collections.ObjectModel
@using MudBlazor
@inject IDialogService DialogService
@inject AppStateService AppState

<h1>Source Data</h1>

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="OpenInputDialog">
    <MudIcon Icon="@Icons.Material.Filled.Add" Class="mr-1"/> Input Source Data
</MudButton>

<MudButton OnClick="AppState.SaveSourceTablesToLocalStorage"> tallenna</MudButton>


<MudButton Variant="Variant.Outlined" OnClick="OpenColumnFilterDialog" Class="mb-2">Filter Columns</MudButton>

<MudTable Items="@FilteredSourceTables" Hover="true" Bordered="true"
          >
    <HeaderContent>
        <MudTh >
            <MudIconButton Icon="@Icons.Material.Filled.KeyboardArrowDown" Size="Size.Small"
                           @onclick="@(() => ToggleExpandAll())"/>
            Table/Column Name
        </MudTh>
        <MudTh>Example Data</MudTh>
        <MudTh>Row Count</MudTh>
        <MudTh>Unique Count</MudTh>
        <MudTh>Null Count</MudTh>
        <MudTh>Key column</MudTh>
        <MudTh>Useless</MudTh>
        <MudTh>Comment</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Table Name">
            <MudIconButton Icon="@Icons.Material.Filled.KeyboardArrowDown" Size="Size.Small"
                           @onclick="@(() => ToggleExpand(context))"/>
            @context.TableName
        </MudTd>
        <MudTd DataLabel="Comment" colspan="7">
            <MudTextField @bind-Value="@context.Comment" Variant="Variant.Outlined" Size="Size.Small"
                          Lines="1"/>
        </MudTd>
    </RowTemplate>
    <ChildRowContent >
        @if (expandedTables.Contains(context))
        {
            @foreach (var column in context.Columns)
            {
                <MudTr >
                    <MudTd DataLabel="Column Name" Style="padding-left: 30px;"
                           Class="@(selectedColumnNames.Contains(column.ColumnName) ? "highlighted-column" : null)">
                        @column.ColumnName
                        @if (column.IsPrimaryKey)
                        {
                            <MudIcon Icon="@Icons.Material.Filled.Key" Color="Color.Secondary" Size="Size.Small" Title="Primary Key" />
                        }
                        else if (column.IsSourceSystemKey)
                        {
                            <MudIcon Icon="@Icons.Material.Outlined.Key" Color="Color.Warning" Size="Size.Small" Title="Source System Key" />
                        }
                    </MudTd>
                    <MudTd DataLabel="Example Data">@column.ExampleData</MudTd>
                    <MudTd DataLabel="Row Count">@column.RowCount</MudTd>
                    <MudTd DataLabel="Unique Count">@column.UniqueCount</MudTd>
                    <MudTd DataLabel="Null Count">@column.NullCount</MudTd>
                    <MudTd DataLabel="Key Column">
                        <MudCheckBox Label="PrimaryKey" @bind-Value="column.IsPrimaryKey"/>
                        <MudCheckBox Label="ForeignKey" @bind-Value="column.IsSourceSystemKey"/>
                    </MudTd>
                    <MudTd DataLabel="IsUseless">
                        <MudCheckBox Label="IsUseless" @bind-Value="column.IsUseless"/>
                    </MudTd>
                    <MudTd DataLabel="Comment">
                        <MudTextField @bind-Value="@column.Comment" Variant="Variant.Outlined" Size="Size.Small"
                                      Lines="1"
                                       />
                    </MudTd>
                    
                </MudTr>
            }
        }
    </ChildRowContent>
</MudTable>

@code {
    private HashSet<SourceTable> expandedTables = new HashSet<SourceTable>();
    private Dictionary<string, int> columnCounts = new Dictionary<string, int>();
    private IReadOnlyCollection<string> selectedColumnNames = new List<string>();
    private string columnFilter = "";

    private List<SourceTable> FilteredSourceTables => AppState.SourceTables
        .Where(table => selectedColumnNames.Count == 0 ||  table.Columns.Any(x => selectedColumnNames.Contains(x.ColumnName))) // Only show tables with selected columns
        .ToList();

    private async Task OpenInputDialog()
    {
        var dialog = await DialogService.ShowAsync<InputSourceDataDialog>("Input Source Data",
            new DialogOptions { CloseOnEscapeKey = true, BackdropClick = false }
        );

        var result = await dialog.Result;

        if (!result.Canceled)
        {
            if (result.Data is List<SourceTable> processedTables)
            {
                await AppState.MergeSourceTables(processedTables); // SourceTables = processedTables;
                StateHasChanged(); // Refresh the UI
            }
        }
    }

    private void ToggleExpand(SourceTable table)
    {
        if (expandedTables.Contains(table))
        {
            expandedTables.Remove(table);
        }
        else
        {
            expandedTables.Add(table);
        }
    }

    private async Task OpenColumnFilterDialog()
    {
        var columnCounts = AppState.SourceTables
            .SelectMany(t => t.Columns)
            .GroupBy(c => c.ColumnName)
            .ToDictionary(g => g.Key, g => g.Count());
        var dialog = await DialogService.ShowAsync<ColumnFilterDialog>("Filter Columns", new DialogParameters
        {
            { "ColumnCounts", columnCounts },
            { "InitialSelectedColumns", selectedColumnNames },
            { "OnFilterApplied", EventCallback.Factory.Create<IReadOnlyCollection<string>>(this, OnColumnFilterApplied) }
        }, new DialogOptions
        {
            CloseOnEscapeKey = true,
            BackdropClick = true,
            MaxWidth = MaxWidth.Medium,
            FullWidth = true
        });

        var result = await dialog.Result;
    }

    private void OnColumnFilterApplied(IReadOnlyCollection<string> selectedColumns)
    {
        selectedColumnNames = selectedColumns;
        StateHasChanged();

        var test = FilteredSourceTables;
        var dbugCount = test.Count();
        
    }

    private Task ToggleExpandAll()
    {
        if (expandedTables.Count == AppState.SourceTables.Count)
        {
            expandedTables.Clear();
        }
        else
        {
            expandedTables = new HashSet<SourceTable>(AppState.SourceTables);
        }

        StateHasChanged();
        return Task.CompletedTask;
    }

    

}